<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
     
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,Cyrillic"
    rel="stylesheet"
    type="text/css"/>
   
    <title>webAppbot</title>
    <link rel="stylesheet" href="styles/normalize.css"> 
    <link rel="stylesheet" href="styles/shop_www.css">  
    
</head>
 
<body>
    {{{body}}}
    <script src="distribute/app.js"></script> 
</body>
</html>