<div class="header">
        <div class="info"><p id="usid"></p><h4>Ассортимент товаров</h4></div>
    </div>

<div class="content">
    
    <div class="Cart-Container" id="cnt">
        <div class="Header">
            <p class="Heading">046</p>
            <h3 class="Heading">Электронные сигареты</h3>
        </div>


        <div class='Cart-Items'>
            <div class='image-box'>
                <img src='https://lh3.googleusercontent.com/docs/AOD9vFokrXMBGfoe0fpiD40mCrJhocHOtCFTP8mMV0vam2IaPMcaP2F9RRZRbpB2THBnj2hAtoehb--sGkETwbsxseu8ku8zfRIamlXWW5aqaGSbs5lHc61V9NiBreMtOMhxq01LNnk5ij-9d1iEiH_brQgDFUzwNjSWz-QDuwBCxXm4hX4wVsQBsBOQZs1ymQUH1Vk-B3mgnZrfql4_MO6dYcz1IpNix8j_Z3qMrJbpYl809lJG7qKZbfCwxIYayO24C9zuYENm3y7jGx-w6h1YTQ4gklpPINsM_VHyYdOSvyNXs6JBDERDWkIgIgqkps9lyJDrOcaodeIG9AoVvsgx0qIgSjBOmPGhSeNmp2_6zAUKcsEHDLeyKPjk2zPlM-JwP4Atbffb-cO_qlN_1ekvMvdb2JxPnRdpgAwcAcTOVR6P7ebnVlO4b9Mv3oADyaFBrMGmkNQMecjipqbHemtpRkJWXgyPbxChhcx_etcap85HS4hVBZ8nLn4_XATshkDGNl0xhSWk6E1eJ8jmw8BVYJMVORP0oFTeHAcz2YMkMLHn7IokwiJ23Nc6nj8wUichokgLkFO-4LJ5UYvhKGJpkPgpCe1t33g9PcjU6zDwDTmCyE4v47p2kMXWR7_Po2zeyQpbTqMrh_nq3vv-NwyKTO-hvXE8OJ30z0iQ1ResIeS0cLYv7KxshzXPA0Okup8DT-FaqUpUHE61Mf2tNj1Ui6ANI7e2tYBQBaJk8w0VI_zcTBb8BCQZ4d2Fnyc6sxVnxm4vaMGkivddciTpcZyodc-88sK1pqs-03bsKPGywXt7k7J9Brq95oIDgPuQpP2yeQf-w0UVZQRtP3GOx3NDxXxbZrEyyyBQnFeX1rJw57d8DAIdpZx3UD-svn7Rw1ws_el0Au6akoys5Y5q7JLL75GVCiwI1kkgnGsO-7epU74GZEoJq6UHUpMeSjkvFX_tSIYl3pLdj652IYqXrwuXDHsIcXPFBb_cwa1j_JrXNwJIOfBsaBSKJjO_KlmgjrDn0t-fikcVRVG7zj2lK4LSclVfdVeqWorWXhEinyapk46OZ4rxCo-LKWdIGDH0K7uJhLxmSMU9avuJxH4LNGr2sxotfrA9CEo9ww3z-VQegqGs3xmJQnxb0QzaymHKzQ=w195-h271'>
            </div>
            <div class='about'>
                <p class='title'>ELF BAR</p>
                <p class='subtitle'>Raspberry watermelon</p>
                <p class="title">В наличии:</p>
                <p class="subtitle">70</p>
            </div>
            <div class='about'>
                <p class='title'>Цены:</p>
                <p class='subtitle'> <span class="from">от 1 до 2: </span><span class="summa"> 45</span></p>
                <p class="subtitle"> <span class="from">от 3 до 4: </span><span class="summa"> 23</span></p>
                <p class="subtitle"> <span class="from">от 5 до 9: </span><span class="summa"> 68</span></p>
                {{!-- <p class="subtitle"> <span class="from">от 10 до 29: </span><span class="summa"> 0</span></p>
                <p class="subtitle"> <span class="from">от 30 до 69: </span><span class="summa"> 0</span></p>
                <p class="subtitle"> <span class="from">от 70 до 149:</span><span class="summa"> 0</span></p> --}}
                <p class="subtitle"> <span class="from">от 150: </span><span class="summa"> 68</span></p>
            </div>

           

            <div class='counter'>
                <div class='btn'>-</div>
                <div class='count'>2</div>
                <div class='btn btn-plus'>+</div>
            </div>
        </div>

    </div>

</div>  