
<div class="header">
  
<div id="loader"><img src="load.gif" alt=""><p>Загрузка...</p></div>
    <div class="info"><p id="usid"></p><h4>Ассортимент товаров</h4></div>
</div>

<div id="tabs" class="settings-widget">
  <ul>
    <li ><a class="li-a-cats" href="#tabs-1">Категории <p class="select-cats" id="total-prods"></p></a></li>
    <li ><a class="like" href="#tabs-3">Перейти к оформлению<p id="count-basket">кол-во позиций: 0</p><p id="total">всего товаров: </p></a></li>
  </ul>
  <div id="tabs-1">
    <div id="tabs-1-cnt">
    <p class="list-cats" id="list-cats"></p>
    <p>Категории</p>
    <div class="set-cats" id="set-cats"></div>
    </div>
  </div>
  
  <div id="tabs-3">
    <div id="tabs-3-cnt">
    <p>Товары в корзине:</p>

    <div class="in-basket" id="in-basket">

    </div>

    <button class="button-backTg" id="close">Подтвердить и выйти в телеграм</button>
    </div>
  </div>
</div>
<div id="finded-characteristics" class="finded-characteristics">

  {{!-- <div class="label-find-char">
    <div id="title-find-char" class="title-find-char">жидкости </div>
    <button id="remove-find-char" class="remove-find-char">x</button>
  </div> --}}

</div>
<div id="content" class="content">
  
    <div class="Cart-Container" id="cnt"> </div>
</div>  