
<div class="header">
  
<div id="loader"><img src="load.gif" alt=""><p>Загрузка...</p></div>
    <div class="info"><p id="usid"></p><h4>Ассортимент товаров</h4></div>
</div>

<div id="tabs" class="settings-widget">
  <ul>
    <li><a href="#tabs-1">Категории</a></li>
    <li ><a class="like" href="#tabs-3">Перейти к оформлению<p id="count-basket">в корзине: 0</p></a></li>
  </ul>
  <div id="tabs-1">
    <div id="tabs-1-cnt">
    <p>Категории</p>
    <div id="set-cats"></div>
    </div>
  </div>
  
  <div id="tabs-3">
    <div id="tabs-3-cnt">
    <p>Заказать</p>
    <button id="close">Выйти в телеграм</button>
    </div>
  </div>
</div>

<div id="content" class="content">
  
    <div class="Cart-Container" id="cnt"> </div>
</div>  