<div class="header">
    <div class="info"><p id="usid"></p><h4>Ассортимент товаров</h4></div>
</div>

<div id="tabs" class="settings-widget">
  <ul>
    <li><a href="#tabs-1">Категории</a></li>
    <li><a href="#tabs-2">Поиск/Сортировка</a></li>
    <li ><a class="like" href="#tabs-3">Заказать</a></li>
  </ul>
  <div id="tabs-1">
    <p>Категории</p>
  </div>
  <div id="tabs-2">
    <p>Поиск/Сортировка</p>
  </div>
  <div id="tabs-3">
    <p>Заказать</p>
  </div>
</div>

<div class="content">
    <div class="Cart-Container" id="cnt"> </div>
</div>  