
#usid {
  font-size: 0.8em;
  color: aliceblue;
}

.header {
  width: 100%;
  margin-bottom: 30px;
}

.header h4 {
  margin-bottom: -20px;
  text-align: center;
  color: whitesmoke;
}

/* d {
 width: 20px;
 height: 20px;
 font-size: 0.8em;
 font-weight: bold;
 background-color: #f3f3f3;
} */

html {
  background-color: rgb(243, 243, 243);
}

body {
  font-size: 0.97em;
  font-family: 'Roboto', sans-serif;
  width: 98%;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow:
 inset 0 0  0 2px rgb(255,255,255),
       0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#loader {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: rgb(22, 22, 22);
  z-index: 1000;
}

#loader img {
  position: absolute;
  top: 50%;
  left: 37%;
  max-width: 25%;
  max-height: 25%;
}

#loader p {
  position: absolute;
  top: 40%;
  left: 43%;
  color: whitesmoke;
}
 

 .content {
  margin: 2px 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
 }

 .Cart-Container{
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #5e5f6033;
 }

 .Header{
  margin: auto;
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
 }
 .Heading{
  font-size: 13px;
  font-weight: 700;
  color: #2F3841;
 }
 .Action{
  font-size: 14px;
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
  border-bottom: 1px solid #E44C4C;
 }

 .Cart-Items{
  width: 90%;
  height: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
 }
 .image-box {
  margin: 10px 0 5px 10px;
  width: 150px;
 }

 .image-box img {
  max-height: 200px;
  max-width: 170px;
 }

/* -------------------------- finded-categories block */

.finded-characteristics {
  display: flex;
  flex-flow: row wrap;
  position: fixed;
  min-height: 30px;
  width: 100%;
}

.label-find-char {
  display: flex;
  height: 15px;
  padding: 4px;
  margin: 1px;
  flex-flow: row nowrap;
  border-radius: 10px;
  border: 1px solid rgb(110, 110, 110);
  align-items: center;
  background-color: rgb(229, 228, 228)
}

.title-find-char {
  font-size: 0.7em;
}

.remove-find-char {
  margin-left: 4px;
  border-radius: 50%;
  background-color: #4e4e4e;
  color: whitesmoke;

  font-size: 0.8em;
}


 .about{
  width: 120px;
  text-align: center;
 }
 .title {
  font-size: 14px;
  font-weight: 800;
  color: #202020;
 }
 .subtitle{
  font-size: 12px;
  font-weight: 600;
  color: #909090;
 }

 .subtitle-chars {
  font-size: 10px;
  color: rgb(140, 119, 191);
 }

 .counter{
  margin: 10px 0;
  width: 120px;
  margin-left: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
 }

 

 .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #6285ec;
  background-image: linear-gradient(to top, #22ace8 10%, #54c1f0bf 40%, #9fe0fcaa 50%);
  font-weight: normal;
  color: #ffffffe4;
}

 .btn-plus {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
 }

 .count{
  font-size: 20px;
  font-weight: 900;
  color: #202020;
 }

 .from {
  color: rgb(68, 68, 68);
  font-weight: 600;
 }

 .summa {
  color: #0ba360;
  font-size: 1.1em;
 }

 #tabs li  {
   font-size: 0.85em;
   text-align: center;
   height: 64px;
  }
  
  .li-a-cats {
    height: 85%;
  }

  /* .set-cats {
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 100px;
  } */


  .ui-accordion .ui-accordion-content {
    padding: 0.8em 1em;
  }

 #count-basket {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 0.9em;
  color: #575757bb;
 }

 #total {
  padding: 0;
  padding-bottom: 4px;
  margin: 0;
  font-weight: bold;
  font-size: 0.9em;
  color: #040404c8;
 }

 .resp-category {
  display: block;
  margin: 4px 0;
 }

 .resp-category button {
  width: 100%;
  box-shadow: 0 0 3px rgba(0,0,0,0.4); 
  padding: 8px 10px;
  font-size: 0.9em;
  font-weight: bold;
  color: #505050;
 }

 .settings-widget {
  width: 100%;
  position: fixed;
  top: 0;
 } 

 .select-cats {
  padding: 0;
  margin: 0;
 }

 .list-cats {
  font-size: 0.8em;
  width: 100%;
  color: darkgreen;
 }

 .list-cats p {
  font-size: 0.8em;
 }

 
 
/* ------------- message --------------------- */


.message {
  display: flex;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 10;
  width: 200px;
  height: 200px;
  background-color: #676663;
  border-radius: 10px;
}

.wrap-msg {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 3px;
  background-color: white;
  border-radius: 8px;
}

.wrap-msg-title {
  display: flex;
  height: 20%;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  color: whitesmoke;
  border-radius: 8px 8px 0 0;
}

.alert-msg {
  padding: 2px 0 0 6px;
} 

.wrap-msg-title button {
  border-radius: 5px;
  margin-right: 2px;
}

.wrap-msg-message {
  display: inline-flex;
  text-align: center;
  padding: 10px;
  height: 80%;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  background-color: white;
  border-radius: 8px;
}

.wrap-load-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap-load-img img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 45px;
  
}
 

 /* .ui-accordion-content-active {
  height: 0;
} */

/* ----------- button  */

.button-find {
  margin: 15px;
}


.button-find {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 26px;
  padding-right: 26px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-find:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-find:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-find:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



/* CSS */
.button-backTg {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1;
  outline: none;
  overflow: hidden;
  padding: 13px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-backTg:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-backTg:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-backTg:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

/* ---------------------- корзина */
.prd {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0;
  max-width: 380px;
  border: 1px solid #1e8449;
}
.cartProd {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;
   
   
}

.info-cartProd {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
}

.key-info-catrProd, .value-info-cartProd {
  font-size: 0.6em;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  align-items: flex-start;   
}

.key-info-catrProd p, .value-info-cartProd p {
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 4px;

}

.key-info-catrProd {
  width: 100px;
}
 


.remove-product {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 8px 0;
} 

.paysum {
  font-weight: bold;
  color: green;
}




